.flexCol-itCenter {
    @apply flex flex-col items-center;
}

.category-title-page {
    @apply w-full h-auto mt-10 text-3xl font-titles flex flex-col items-center justify-center relative
    sm:text-5xl sm:flex-row;
}

.separator-up {
    @apply w-5/6 h-2 bg-[#3E2723] rounded-3xl
    xl:w-[78rem];
}

.separator-down {
    @apply w-5/6 h-1 bg-[#3E2723] rounded-3xl
    xl:w-[78rem];
}


